/* Roboto */
@font-face {
	font-family: Roboto;
	src: local("Roboto Regular"),
		 local("Roboto-Regular"),
		 url(fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
	font-family: Roboto;
	font-weight: bold;
	src: local("Roboto Black"),
		 local("Roboto-Black"),
		 url(fonts/roboto/Roboto-Black.ttf);
}
@font-face {
	font-family: Roboto;
	font-style: italic;
	src: local("Roboto Italic"),
		 local("Roboto-Italic"),
		 url(fonts/roboto/Roboto-Italic.ttf);
}
@font-face {
	font-family: Roboto Light;
	src: local("Roboto Light"),
		 local("Roboto-Light"),
		 url(fonts/roboto/Roboto-Light.ttf);
}
@font-face {
	font-family: Roboto Medium;
	src: local("Roboto Medium"),
		 local("Roboto-Medium"),
		 url(fonts/roboto/Roboto-Medium.ttf);
}
@font-face {
	font-family: Roboto Thin;
	src: local("Roboto Thin"),
		 local("Roboto-Thin"),
		 url(fonts/roboto/Roboto-Thin.ttf);
}