html {
	overflow-x: hidden;
}

.darken {
  display: block;
  background: black;
  padding: 0;
  
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.darken:hover {
  -webkit-filter: brightness(90%);
  filter: brightness(90%);
}

.shrink {
  display: block;
  padding: 0;
  
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.shrink:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.headerItem {
  display: inline-block;
  background-color: inherit;
  width: 80px;
  font-size: 25px;
  position: relative;
  bottom: 2px;
  
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

body:before {
  content: '';
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /*-webkit-filter: blur(20px) invert(1) brightness(100%);
     -moz-filter: blur(20px) invert(1) brightness(100%);
      -ms-filter: blur(20px) invert(1) brightness(100%);
       -o-filter: blur(20px) invert(1) brightness(100%);
          filter: blur(20px) invert(1) brightness(100%);*/
}

body {
	text-align: center;
	background-image: url('images/carbon.png');
  	background-size: 101%;
  	background-repeat: repeat-y;
}

#main {
	position: absolute;
    top: 43px;
    left: 0;
    width: 100%;
    margin: 0px;
    padding: 3px;
}

.sub-menu-parent {
  position: relative;
}

.sub-menu { 
  visibility: hidden;
  opacity: 0;
  padding: 0px 10px 10px 10px;
  position: absolute;
  right: -50%;
  transform: translateY(-2em);
  z-index: -10;

  -webkit-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
     -moz-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
      -ms-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
       -o-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
          transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.sub-menu-parent:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  z-index: 9;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

#header-login-menu {
  background: #d0d0c0;
  box-shadow: 3px 10px 8px 0px rgba(0,0,0,0.6);
}

.login-text {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #c0c0b0;
}

.login-text:focus {
    outline: none;
}

.login-button {
	background-color: #a7a78f;
    border: none;
    color: #333333;
    text-decoration: none;
    padding: 8px 16px;
    cursor: pointer;
}

.main-block {
	margin: 10px auto 0 auto;
    padding: 10px;
    width: 20%;
    height: 80%;
    border: solid;
    border-radius: 10px;
    border-width: 0px;
    border-color: white;
    background-color: #e0e0e0;
    box-shadow: 3px 10px 8px 0px rgba(0,0,0,0.6);
    font: 20px Roboto Light;
}

.main-link {
	border-bottom: solid;
	border-width: 1px;
}

.user-detail-text {
	font: 16px Roboto Light;
}

.post-post {
	margin: 10px auto 0 auto;
    width: 40%;
    padding: 10px 5px;
    border: solid;
    border-radius: 10px;
    border-width: 0px;
    background-color: #e0e0e0;
    box-shadow: 3px 10px 8px 0px rgba(0,0,0,0.6);
    font: 20px Roboto Light;
    text-align: left;
}

.post-creator {
	float: left;
    border-width: 2px;
    width: 300px;
}

.post-creator-image {
	float: left;
    width: 40px;
    height: 40px;
    margin: 0px 5px;
    border: solid;
    border-radius: 0px;
    border-width: 2px;
    border-color: black;
    background-color: transparent;
    background-size: cover;	
}

.post-main {
	margin: 50px 0 0 0;
    padding: 3px 3px 2px 3px;
    width: 98%;
    min-height: 60px;
    border: solid;
    border-color: #d0d0d0;
}

.post-text {
	text-align: left;
    font-size: 14px;
}

.post-comments {
	border: solid;
    border-color: #d0d0d0;
    font-size: 14px;
    text-align: left;
    margin: 10px 3px 3px 3px;
    padding: 2px;
}

.post-comments-comment1 {
	magin: 0;
	padding: 3px 0 0 -3px;
	background-color: #d8d8d8;
	width: 100%;
	display: inline-block;
}

.post-comments-comment2 {
	magin: 0;
	padding: 3px 0 0 -3px;
	background-color: #e0e0e0;
	width: 100%;
	display: inline-block;
}

.post-comment-create-textarea {
	text-align: left;
    vertical-align: top;
    line-height: 15px;
    height: 50px;
    width: 70%;
    margin: 5px;
    resize: none;
}